aiohappyeyeballs
aiohttp
aiosignal
altgraph
annotated-types
APScheduler
attrs
Beaker
beautifulsoup4
bidict
blinker
boto3
botocore
bottle
bottle-beaker
bottle-websocket
cachetools
camera
certifi
cffi
charset-normalizer
click
colorama
contourpy
cryptography
cycler
dnspython
Eel
eventlet
Flask
Flask-Login
Flask-SocketIO
fonttools
frozenlist
future
gevent
gevent-websocket
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
gunicorn
h11
httplib2
idna
importlib_resources
itsdangerous
Jinja2
jmespath
kiwisolver
lxml
MarkupSafe
matplotlib
MouseInfo
mss
multidict
numpy
o
oauthlib
opencv-python
outcome
packaging
Panda3D
panda3d-gltf
panda3d-simplepbr
pandas
pefile
pillow
propcache
proto-plus
protobuf
pyasn1
pyasn1_modules
PyAutoGUI
pycparser
pydantic
pydantic_core
pygame
PyGetWindow
pyinstaller
pyinstaller-hooks-contrib
PyMsgBox
pyOpenSSL
pyparsing
pyperclip
PyRect
PyScreeze
PySocks
python-dateutil
python-dotenv
python-engineio
python-socketio
pytweening
pytz
pywin32-ctypes
requests
requests-oauthlib
rsa
s3transfer
screeninfo
selenium
setuptools
simple-websocket
six
sniffio
sortedcontainers
soupsieve
sswg
tqdm
trio
trio-websocket
typing-inspection
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
ursina
waitress
webdriver-manager
websocket-client
Werkzeug
wsproto
yarl
zope.event
zope.interface
gunicorn
gevent-websocket
